.App {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}
.header {
  width: 100%;
  height: 100px;
  background: #ed1c40;
  border-bottom: 2px solid #ed1c40;
}
.header::after {
  content: "";
  display: block;
  clear: both;
}
.header-title {
  float: left;
  font-size: 35px;
  margin: 25px 0 0 25px;
}
.header-logo {
  width: 140px;
}
.header-personal-info {
  float: right;
  width: 200px;
  margin-top: 20px;
  margin-right: 20px;
  color: #ed1c40;
}
.header-personal-info::after {
  content: "";
  display: block;
  clear: both;
}
.header-personal-img {
  width: 35px;
  float: left;
  margin-right: 35px;
  margin-top: 10px;
}
.header-notify-img {
  width: 30px;
  position: absolute;
  right: 180px;
  top: 25px;
}
.header-personal-text {
  border: 1px solid #ffffff;
  float: left;
  background: #ed1c40;
  color: #ffffff;
  padding-top: 0;
  font-size: 22px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.header-personal-text:hover {
  background: #ffffff;
  border: 1px solid #ed1c40;
  color: #ed1c40;
}
.main {
  width: 100%;
}
.main::after {
  content: "";
  display: block;
  clear: both;
}

.meet-map-wrapper {
  width: 45%;
  float: left;
  height: 100%;
  margin-top: 15px;
  margin-left: 30px;
}
.meet-map2-wrapper {
  width: 40%;
  float: left;
  height: 100%;
  margin-top: 15px;
}
.fav-modal {
  padding: 30px;
  border: 2px solid #ed1c40;
  border-radius: 10px;
  width: 550px;
  background: #ffffff;
  position: absolute;
  top: 50px;
  right: 220px;
  z-index: 999;
}
