.favorite-events-wrapper {
  position: relative;
  border-bottom: 1px solid #ED1C40;
  margin-bottom: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.favorite-events-name{
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 15px;
  background: #ED1C40;
  color: #ffffff;
}
.favorite-events-text{
  margin: 0;
  padding-bottom: 5px;
  padding-left: 10px;
}
.favorite-delete {
  width: 40px;
  position: absolute;
  right: 10px;
  top: 50px;
  cursor: pointer;
}
