.home-info-wrapper {
  float: right;
  width: 40%;
  position: absolute;
  z-index: 999;
  right: 60px;
  top: 150px;
}
.home-info-text {
  line-height: 1.8;
}
.home-info-link {
  text-decoration: none;
}
.home-info {
  background: #ed1c40;
  margin: 20px auto;
  width: 200px;
  font-size: 36px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
.home-info:hover {
  background: #ffffff;
  color: #ed1c40;
  border: 1px solid #ed1c40;
}
