.info-box {
  width: 500px;
}
.info-box::after {
  content: "";
  display: block;
  clear: both;
}
.events-info {
  width: 60%;
  float: left;
  font-weight: bold;
  font-size: 16px;
}
.events-info-text-host {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.events-info-text {
  margin: 0;
  padding-bottom: 6px;
}
.events-img-wrapper {
  width: 30%;
  float: right;
}
.host-img {
  padding-top: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
