.events-wrapper {
  width: 70%;
  font-size: 10px;
  color: #ffffff;
  background: #ED1C40;
  position: relative;
  border: 2px solid#ffffff;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border-radius: 10px;
}
.events-wrapper:hover {
  background: #ffffff;
  border: 1px solid #ED1C40;
  color: #ED1C40;
  font-weight: bold;
}
.events-name {
  padding-bottom: 10px;
  border-bottom: 4px solid #ffffff;
}
.events-name:hover {
  border-bottom: 4px solid #ED1C40;
}
.events-date {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
}
.events-group-name {
  padding: 10px;
  text-align: center;
  background: #ffffff;
  color: #ED1C40;
  border-radius: 10px;
  margin: 10px 0;
}
.events-group-name:hover {
  background:#ED1C40;
  color: #ffffff;
}
.favorite-img {
  position: absolute;
  right: -60px;
  top: 75px;
  z-index: 999;
  width: 40px;
  cursor: pointer;
}
